h1{color:blueviolet} 

.header{
    background-color:gainsboro;
    display:flex;
    justify-content:space-between

}
.All_games{
    display:flex;
    justify-content:space-between;
}
.Socialmedia{
    display:flex;
    justify-content: flex-end;
}

h2,p{
    text-align: center;
}